@charset "UTF-8";

body {
   background-image: linear-gradient(to bottom, #92b99a, #4d774d);
   font-family: Arial, Helvetica, sans-serif;
   background-attachment: fixed;
}

h1 {
    color: rgb(0, 185, 124);
}


h1#principal {
    text-align: center ;
    box-shadow: 10px 10px 10px #000000 ;
    background-color: rgb(0, 121, 80);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 10px;
    border-style: ridge;
    border-width: 20px;
    width: 500px;
    box-sizing: border-box;
  
    margin: 30px auto

}

h2 {
    color: rgb(0, 94, 62);
    
}

.basico {
color: rgb(27, 121, 124);
font-weight: bolder;
}

.intermediario {
color: rgb(163, 163, 13);
font-weight: bolder;
} 

.avancado {
color: rgb(153, 5, 5);
font-weight: bolder;
}