@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media print { /* IMPRESSÃO */
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../img/back-print.jpg); /* desnecessário */
    }

    main {
        width: 90vw;
        border: 2px solid black;
    }

    main::after {
        content: 'Esse impressão foi feito através do site';
        text-decoration: underline;
        
    }

    h1 {
        color: black;
        text-shadow: none;
    }

    img#phone { display: none;}
    img#print { display: block;}
}

@media screen and (min-width: 768px) and (max-width: 992px){ /* TABLET */
    body {
        background-image: url(../img/back-tablet.jpg);
    }

    img#phone { display: none;}
    img#tablet { display: block;}
}

@media screen and (min-width: 992px) and (max-width: 1200px){ /* DESKTOP */
    body {
        background-image: url(../img/back-pc.jpg);
    }
    
    img#phone { display: none;}
    img#pc { display: block;}
}

@media screen and (min-width: 1200px) { /* GRANDES TELAS */
    body {
        background-image: url(../img/back-tv.jpg);
    }

    img#phone { display: none;}
    img#tv { display: block;}
}