@charset "UTF-8";

body {
    background-image: linear-gradient(to bottom, rgb(252, 92, 92), red);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    max-width: 500px;
    height: 350px;
    margin: auto;
    padding: 40px 4px 0px 4px;
    text-align: center;
    background-color: rgb(250, 218, 218);
    border-radius: 15px;
    border: 4px solid rgb(114, 0, 0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.733);
}

h1 {
    margin: 10px;
}

input {
    width: 210px;
    height: 27px;
    border-radius: 10px;
    font-weight: bold;
    background-color: darkred;
    color: white;
}

input:hover {
    background-color: rgb(196, 0, 0);
}

input:active {
    background-color: white;
    color: darkred;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.589);
}

input, p {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.541);
}

p {
    height: 18px;
    width: 200px;
    margin: 10px auto ;
    padding: 10px;
    background-color: white;
    border-radius: 7px;
    border: 1px solid black;
}

div#hr {
    padding-bottom: 30px;
}

a::before {
    content: '\00A0\00a0\1F519';
}