@charset "UTC-8";

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100;200;300;400;500;600;700&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'M PLUS 1 Code', sans-serif;
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-position: left top;
    box-shadow: inset 0px -55px 10px rgba(0, 0, 0, 0.89);
}

header {
    padding-top: 15px;
    padding-bottom: 16px;
    background-image: linear-gradient(to top,#000000d2, #022433e1 ) ;
    text-align: center;
    box-shadow: 0px 4px 10px rgb(0, 0, 0);
}

h1 {
   
   padding: 0px;
   color: white;
   text-shadow: -1px 1px 0px #424242,
                1px 1px 0px #424242,
                1px -1px 0px #424242, 
                -1px -1px 0px #424242;
   font-variant: small-caps;
   font-size: 3em;
   font-family: Arial, Helvetica, sans-serif;
}

section {
    max-width: 1100px;
    min-height: 780px;
    margin: auto;
    padding: 10px;
    background-color: #3C5993;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.514);

}

article {
    background-color: white;
    padding: 6px;
    min-height: 780px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.493);
    text-align: center;
}

main {
    padding: 2px;
    padding-bottom: 0;
    border-radius: 10px;
    background-color: #122752;
    border: 2px solid rgb(116, 116, 116);
    
}



main > p {
    background-color: rgb(182, 182, 182);
    height: 28px;
    padding: 1px 7px 1px 1px  ;
    margin: 0;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 0px 0px 5px black;
    
}

main a {
    padding-left: 3px;
    color: #122752;
    text-shadow: 0 0 2px rgb(250, 250, 250);
    font-weight: bold;
    font-size: 90%;
    display: inline-block;
    vertical-align: 10px;
    text-decoration: none;
}

main a:hover {
    color: #15377c;
    text-decoration: underline;
}


main img {
    width: 28px;
}

a.testes {
    margin: 15px 8px;
    padding: 6px;
    background-color: rgba(128, 128, 128, 0.178);
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    
}

a.testes > h3 {
    color: #243d70;
    text-decoration: underline;
    font-size: 1.3em;
    
    padding-bottom: 5px;
    font-weight: 500;
}

a.testes:hover > h3 {
    font-weight: bolder;
    text-decoration: 0px underline;
}

 img.testes:hover {
    width: 158px;
 
    margin: -4px;
}

img.testes {
    width: 150px;
}



footer {
    height: 50px;
    text-align: center;
    background-color: black;
    color: white;
}

footer > h3 {
    padding-top: 12px;
}

@media screen and (max-width:700px) {
      #mobile > p {
        background-color: rgb(182, 182, 182);
        height: 22px;
        padding:  0;
        margin: 0;
        border-radius: 10px 5px 5px 10px;
        display: inline-block;
        box-shadow: 0px 0px 5px black;
    }
    
    main > p > a {
        padding-left: 0;
        color: #122752;
        text-shadow: 0 0 2px rgb(250, 250, 250);
        font-weight: bold;
        font-size:70%;
        display: inline-block;
        vertical-align: 6px;
        text-decoration: none;
        
    }

    main > p > img {
        width: 22px;
    }
    
    a.testes {
        margin: 10px 4px;
        padding: 3px;
        background-color: rgba(128, 128, 128, 0.178);
        border-radius: 15px;
        display: inline-block;
        text-align: center;
        
    }
    
    a.testes > h3 {
        color: #243d70;
        text-decoration: underline;
        font-size: 1.1em;
        
        padding-bottom: 5px;
        font-weight: 500;
    }
    
    a.testes:hover > h3 {
        font-weight: bolder;
        text-decoration: 0px underline;
    }
    
     img.testes:hover {
        width: 124px;
     
        margin: -2px;
    }
    
    img.testes {
        width: 120px;
    }
}